body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

header {
  background-color: #007bff !important;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-weight: bold;
}

.table th,
.table td {
  vertical-align: middle;
}

.actions button {
  margin-right: 5px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn:hover {
  opacity: 0.9;
}
